.frame-details {
    flex: 1 1 auto;
    overflow: auto;
    padding: $base-gutter;

    > .preview {
        background-color: rgba($color-text, 0.02);
        display: flex;
        margin: 0;
        overflow: auto;
        white-space: pre;

        @include media(">=desktop") {
            &:not(.-excerpt) {
                $line-height: 21px;

                height: calc(#{$line-height * 20} + 1.5rem);
            }
        }

        > .code {
            font-family: inherit;
            margin: 0 $base-gutter 0 3ch;
            overflow: visible;
            padding: 0.75rem 0;
            position: relative;
        }
    }

    > .file-path {
        margin-bottom: $base-gutter;
    }
}
