.side-panel {
    @include media(">=desktop") {
        box-shadow: inset -1px 0 0 rgba($color-text, 0.125);
        min-width: 400px;
        overflow: auto;

        .has-frames & {
            flex: 1 1 auto;
        }
    }
}
