@if index($font-code, Fira Code) {
    @font-face {
        font-family: Fira Code;
        font-weight: normal;
        font-style: normal;
        src: inline("./fonts/FiraCode-Regular.woff") format("woff");
    }
}


@if $font-icon == Entypo {
    @font-face {
        font-family: Entypo;
        font-weight: normal;
        font-style: normal;
        src: inline("./fonts/Entypo.woff") format("woff");
    }
}

@if index($font-text, Inter UI) {
    @font-face {
        font-family: Inter UI;
        font-style:  normal;
        font-weight: 400;
        src: inline("./fonts/Inter-UI-Regular.woff") format("woff");
    }

    @font-face {
        font-family: Inter UI;
        font-style:  normal;
        font-weight: 700;
        src: inline("./fonts/Inter-UI-Bold.woff") format("woff");
    }
}
