%icon {
    font-family: Icons !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons: (
    "500px": "\ea3f",
    "500px-with-circle": "\ea3e",
    "add-to-list": "\e900",
    "add-user": "\e957",
    "address": "\e958",
    "adjust": "\e959",
    "air": "\e95a",
    "aircraft": "\e95d",
    "aircraft-landing": "\e95b",
    "aircraft-take-off": "\e95c",
    "align-bottom": "\e95e",
    "align-horizontal-middle": "\e95f",
    "align-left": "\e960",
    "align-right": "\e961",
    "align-top": "\e962",
    "align-vertical-middle": "\e963",
    "archive": "\e964",
    "area-graph": "\e965",
    "arrow-bold-down": "\e90f",
    "arrow-bold-left": "\e910",
    "arrow-bold-right": "\e911",
    "arrow-bold-up": "\e912",
    "arrow-down": "\e913",
    "arrow-left": "\e914",
    "arrow-long-down": "\e915",
    "arrow-long-left": "\e916",
    "arrow-long-right": "\e917",
    "arrow-long-up": "\e918",
    "arrow-right": "\e919",
    "arrow-up": "\e91a",
    "arrow-with-circle-down": "\e91b",
    "arrow-with-circle-left": "\e91c",
    "arrow-with-circle-right": "\e91d",
    "arrow-with-circle-up": "\e91e",
    "attachment": "\e966",
    "awareness-ribbon": "\e967",
    "back": "\e969",
    "back-in-time": "\e968",
    "bar-graph": "\e96a",
    "basecamp": "\ea40",
    "battery": "\e96b",
    "beamed-note": "\e96c",
    "behance": "\ea41",
    "bell": "\e96d",
    "blackboard": "\e96e",
    "block": "\e96f",
    "book": "\e970",
    "bookmark": "\e91f",
    "bookmarks": "\e920",
    "bowl": "\e971",
    "box": "\e972",
    "briefcase": "\e973",
    "browser": "\e974",
    "brush": "\e975",
    "bucket": "\e976",
    "cake": "\e977",
    "calculator": "\e978",
    "calendar": "\e979",
    "camera": "\e97a",
    "ccw": "\e97b",
    "chat": "\e97c",
    "check": "\e97d",
    "chevron-down": "\e921",
    "chevron-left": "\e922",
    "chevron-right": "\e923",
    "chevron-small-down": "\e924",
    "chevron-small-left": "\e925",
    "chevron-small-right": "\e926",
    "chevron-small-up": "\e927",
    "chevron-thin-down": "\e928",
    "chevron-thin-left": "\e929",
    "chevron-thin-right": "\e92a",
    "chevron-thin-up": "\e92b",
    "chevron-up": "\e92c",
    "chevron-with-circle-down": "\e92d",
    "chevron-with-circle-left": "\e92e",
    "chevron-with-circle-right": "\e92f",
    "chevron-with-circle-up": "\e930",
    "circle": "\e981",
    "circle-with-cross": "\e97e",
    "circle-with-minus": "\e97f",
    "circle-with-plus": "\e980",
    "circular-graph": "\e982",
    "clapperboard": "\e983",
    "classic-computer": "\e901",
    "clipboard": "\e984",
    "clock": "\e985",
    "cloud": "\e931",
    "code": "\e986",
    "cog": "\e987",
    "colours": "\e988",
    "compass": "\e989",
    "controller-fast-backward": "\e902",
    "controller-fast-forward": "\e932",
    "controller-jump-to-start": "\e933",
    "controller-next": "\e934",
    "controller-paus": "\e935",
    "controller-play": "\e936",
    "controller-record": "\e937",
    "controller-stop": "\e938",
    "controller-volume": "\e939",
    "copy": "\e98a",
    "creative-cloud": "\ea42",
    "creative-commons": "\e90b",
    "creative-commons-attribution": "\e903",
    "creative-commons-noderivs": "\e904",
    "creative-commons-noncommercial-eu": "\e905",
    "creative-commons-noncommercial-us": "\e906",
    "creative-commons-public-domain": "\e907",
    "creative-commons-remix": "\e908",
    "creative-commons-share": "\e909",
    "creative-commons-sharealike": "\e90a",
    "credit": "\e98c",
    "credit-card": "\e98b",
    "cross": "\e98d",
    "cup": "\e98e",
    "cw": "\e98f",
    "cycle": "\e990",
    "database": "\e991",
    "dial-pad": "\e992",
    "direction": "\e993",
    "document": "\e994",
    "document-landscape": "\e90c",
    "documents": "\e995",
    "dot-single": "\e93a",
    "dots-three-horizontal": "\e93b",
    "dots-three-vertical": "\e93c",
    "dots-two-horizontal": "\e93d",
    "dots-two-vertical": "\e93e",
    "download": "\e93f",
    "dribbble": "\ea65",
    "dribbble-with-circle": "\ea64",
    "drink": "\e996",
    "drive": "\e997",
    "drop": "\e998",
    "dropbox": "\ea43",
    "edit": "\e999",
    "email": "\e99a",
    "emoji-flirt": "\e940",
    "emoji-happy": "\e99b",
    "emoji-neutral": "\e99c",
    "emoji-sad": "\e99d",
    "erase": "\e99e",
    "eraser": "\e99f",
    "evernote": "\ea44",
    "export": "\e9a0",
    "eye": "\e9a1",
    "facebook": "\ea67",
    "facebook-with-circle": "\ea66",
    "feather": "\e9a2",
    "flag": "\e9a3",
    "flash": "\e9a4",
    "flashlight": "\e9a5",
    "flat-brush": "\e9a6",
    "flattr": "\ea45",
    "flickr": "\ea69",
    "flickr-with-circle": "\ea68",
    "flow-branch": "\e941",
    "flow-cascade": "\e942",
    "flow-line": "\e943",
    "flow-parallel": "\e944",
    "flow-tree": "\e945",
    "folder": "\e9aa",
    "folder-images": "\e9a7",
    "folder-music": "\e9a8",
    "folder-video": "\e9a9",
    "forward": "\e9ab",
    "foursquare": "\ea46",
    "funnel": "\e9ac",
    "game-controller": "\e9ad",
    "gauge": "\e9ae",
    "github": "\ea6b",
    "github-with-circle": "\ea6a",
    "globe": "\e9af",
    "google": "\ea6d",
    "google-drive": "\ea47",
    "google-hangouts": "\ea48",
    "google-with-circle": "\ea6c",
    "graduation-cap": "\e9b0",
    "grid": "\e9b1",
    "grooveshark": "\ea49",
    "hair-cross": "\e9b2",
    "hand": "\e9b3",
    "heart": "\e9b5",
    "heart-outlined": "\e9b4",
    "help": "\e9b7",
    "help-with-circle": "\e9b6",
    "home": "\e9b8",
    "hour-glass": "\e9b9",
    "icloud": "\ea4a",
    "image": "\e9bb",
    "image-inverted": "\e9ba",
    "images": "\e9bc",
    "inbox": "\e9bd",
    "infinity": "\e9be",
    "info": "\e9c0",
    "info-with-circle": "\e9bf",
    "instagram": "\ea6f",
    "instagram-with-circle": "\ea6e",
    "install": "\e946",
    "key": "\e9c1",
    "keyboard": "\e9c2",
    "lab-flask": "\e9c3",
    "landline": "\e9c4",
    "language": "\e9c5",
    "laptop": "\e9c6",
    "lastfm": "\ea71",
    "lastfm-with-circle": "\ea70",
    "layers": "\e947",
    "leaf": "\e9c7",
    "level-down": "\e9c8",
    "level-up": "\e9c9",
    "lifebuoy": "\e9ca",
    "light-bulb": "\e9cb",
    "light-down": "\e9cc",
    "light-up": "\e9cd",
    "line-graph": "\e9ce",
    "link": "\e9cf",
    "linkedin": "\ea73",
    "linkedin-with-circle": "\ea72",
    "list": "\e9d0",
    "location": "\e9d2",
    "location-pin": "\e9d1",
    "lock": "\e9d4",
    "lock-open": "\e9d3",
    "log-out": "\e9d5",
    "login": "\e9d6",
    "loop": "\e9d7",
    "magnet": "\e9d8",
    "magnifying-glass": "\e9d9",
    "mail": "\e9da",
    "man": "\e9db",
    "map": "\e9dc",
    "mask": "\e9dd",
    "medal": "\e9de",
    "megaphone": "\e9df",
    "menu": "\e9e0",
    "message": "\e9e1",
    "mic": "\e9e2",
    "minus": "\e9e3",
    "mixi": "\ea4b",
    "mobile": "\e9e4",
    "modern-mic": "\e9e5",
    "moon": "\e9e6",
    "mouse": "\e9e7",
    "music": "\e9e8",
    "network": "\e9e9",
    "new": "\e9eb",
    "new-message": "\e9ea",
    "news": "\e9ec",
    "note": "\e9ed",
    "notification": "\e9ee",
    "old-mobile": "\e9ef",
    "old-phone": "\e9f0",
    "onedrive": "\ea4c",
    "open-book": "\e948",
    "palette": "\e9f1",
    "paper-plane": "\e9f2",
    "paypal": "\ea4d",
    "pencil": "\e9f3",
    "phone": "\e9f4",
    "picasa": "\ea4e",
    "pie-chart": "\e9f5",
    "pin": "\e9f6",
    "pinterest": "\ea75",
    "pinterest-with-circle": "\ea74",
    "plus": "\e9f7",
    "popup": "\e9f8",
    "power-plug": "\e9f9",
    "price-ribbon": "\e9fa",
    "price-tag": "\e9fb",
    "print": "\e9fc",
    "progress-empty": "\e9fd",
    "progress-full": "\e9fe",
    "progress-one": "\e9ff",
    "progress-two": "\ea00",
    "publish": "\ea01",
    "qq": "\ea4f",
    "quote": "\ea02",
    "radio": "\ea03",
    "rdio": "\ea76",
    "rdio-with-circle": "\ea50",
    "remove-user": "\e90d",
    "renren": "\ea51",
    "reply": "\ea05",
    "reply-all": "\ea04",
    "resize-100": "\e949",
    "resize-full-screen": "\e94a",
    "retweet": "\ea06",
    "rocket": "\ea07",
    "round-brush": "\ea08",
    "rss": "\ea09",
    "ruler": "\ea0a",
    "save": "\e94b",
    "scissors": "\ea0b",
    "scribd": "\ea52",
    "select-arrows": "\e94c",
    "share": "\ea0d",
    "share-alternitive": "\ea0c",
    "shareable": "\ea0e",
    "shield": "\ea0f",
    "shop": "\ea10",
    "shopping-bag": "\ea11",
    "shopping-basket": "\ea12",
    "shopping-cart": "\ea13",
    "shuffle": "\ea14",
    "signal": "\ea15",
    "sina-weibo": "\ea53",
    "skype": "\ea55",
    "skype-with-circle": "\ea54",
    "slideshare": "\ea56",
    "smashing": "\ea57",
    "sound": "\e94e",
    "sound-mix": "\ea16",
    "sound-mute": "\e94d",
    "soundcloud": "\ea58",
    "sports-club": "\ea17",
    "spotify": "\ea5a",
    "spotify-with-circle": "\ea59",
    "spreadsheet": "\ea18",
    "squared-cross": "\ea19",
    "squared-minus": "\ea1a",
    "squared-plus": "\ea1b",
    "star": "\ea1d",
    "star-outlined": "\ea1c",
    "stopwatch": "\ea1e",
    "stumbleupon": "\ea78",
    "stumbleupon-with-circle": "\ea77",
    "suitcase": "\ea1f",
    "swap": "\ea20",
    "swarm": "\ea5b",
    "sweden": "\ea21",
    "switch": "\ea22",
    "tablet": "\ea23",
    "tag": "\ea24",
    "text": "\ea27",
    "text-document": "\ea26",
    "text-document-inverted": "\ea25",
    "thermometer": "\ea28",
    "thumbs-down": "\ea29",
    "thumbs-up": "\ea2a",
    "thunder-cloud": "\ea2b",
    "ticket": "\ea2c",
    "time-slot": "\ea2d",
    "tools": "\ea2e",
    "traffic-cone": "\ea2f",
    "trash": "\e94f",
    "tree": "\ea30",
    "triangle-down": "\e950",
    "triangle-left": "\e951",
    "triangle-right": "\e952",
    "triangle-up": "\e953",
    "trophy": "\ea31",
    "tumblr": "\ea7a",
    "tumblr-with-circle": "\ea79",
    "tv": "\ea32",
    "twitter": "\ea7c",
    "twitter-with-circle": "\ea7b",
    "typing": "\ea33",
    "uninstall": "\e954",
    "unread": "\ea34",
    "untag": "\ea35",
    "upload": "\e956",
    "upload-to-cloud": "\e955",
    "user": "\ea36",
    "users": "\ea37",
    "v-card": "\ea38",
    "video": "\ea39",
    "vimeo": "\ea7e",
    "vimeo-with-circle": "\ea7d",
    "vine": "\ea5d",
    "vine-with-circle": "\ea5c",
    "vinyl": "\ea3a",
    "vk": "\ea60",
    "vk-alternitive": "\ea5e",
    "vk-with-circle": "\ea5f",
    "voicemail": "\ea3b",
    "wallet": "\ea3c",
    "warning": "\e90e",
    "water": "\ea3d",
    "xing": "\ea62",
    "xing-with-circle": "\ea61",
    "yelp": "\ea63",
    "youtube": "\ea80",
    "youtube-with-circle": "\ea7f"
);

@each $key, $value in $icons {
    .icon-#{$key}::before { content: $value; }
}

[class^="icon-"],
[class*=" icon-"] {
    @extend %icon;
}
